<div class="col-xs-12 col-md-3 push-md-9" id="sidebar">
    <h1>Explore</h1>
    <button type="button" class="btn btn-block" id="sidebar_themes" data-toggle="collapse" data-target="#sidebarThemes">Themes</button>
    <div class="collapse" id="sidebarThemes">
        <div class="row">
            <div class="col-9">
                i3wm
            </div>
            <div class="col-3">
                3
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                bspwm
            </div>
            <div class="col-3">
                1
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                xmonad
            </div>
            <div class="col-3">
                1
            </div>
        </div>
    </div>
</div>